<a href="https://colab.research.google.com/github/LatiefDataVisionary/latihan-analisis-data-menggunakan-python-dicoding/blob/main/LatDataWranglingDicoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Latihan Data Wrangling DiCo Collection dari kursus Dicoding**

Pada proyek sederhana ini, saya menggunakan dataset [DicodingCollection](https://github.com/dicodingacademy/dicoding_dataset/tree/main/DicodingCollection). Ini merupakan hasil modifikasi dari dataset [Shopping Cart Database](https://www.kaggle.com/datasets/ruchi798/shopping-cart-database) yang di publikasi dalam platform kaggle. Proses modifikasi ini bertujuan untuk memastikan dataset yang digunakan cukup mempresentasikan semua masalah yang umum dijumpai di industri.

Sebagai permulaan, mari kita simak *background story* dari proyek ini.


**Peringatan**!

"*Skenario dalam materi ini hanyalah fiktif belaka. Apabila terdapat kesamaan nama tokoh, perusahaan, ataupun produk, itu adalah kebetulan semata dan tidak ada unsur kesengajaan.*"

## **Background**

**Dicoding Collection** atau sering disingkat **DiCo** merupakan sebuah perusahaan yang bergerak di bidang fashion. Ia memproduksi berbagai item fashion dan menjualnya melalui platform online.

![dos_1c183d6627f771f902fa1c5a86de6b2420230309133244.png]()

Sebagai perusahaan kekinian, **DiCo** menyadari betapa pentingnya data bagi perkembangan sebuah bisnis. Oleh karena itu, ia menyimpan semua *history* penjualan beserta informasi terkait produk dan *customers* dalam sebuah *database*. Database ini terdiri dari empat buah tabel, antara lain **customers**, **orders**, **products**, dan **sales**.


*   **Tabel customers**: tabel ini menyimpan berbagai informasi terkait customer, seperti `customer_id`, `customer_name`, `gender`, `age`, `home_address`, `zip_code`, `city`, `state`, dan `country`.

*   **Tabel orders**: tabel ini menyimpan berbagai informasi terkait sebuah order yang terdiri dari `order_id`, `customer_id`, `order_date`, dan `delivery_date`.

*   **Tabel products**: tabel ini berisi berbagai informasi terkait sebuah produk, seperti `product_id`, `product_type`, `product_name`, `size`, `colour`, `price`, `quantity`, dan `description`.

*   **Tabel sales**: tabel ini mengandung informasi detail terkait penjualan, seperti `sales_id`, `order_id`, `product_id`, `price_per_unit`, `quantity`, dan `total_price`.

## **Tujuan**

First of all, kita akan mulai proyek analisis data ini dengan menjalankan proses *data wrangling* terlebih dahulu. Proses ini memiliki tujuan antara lain



*   Mengumpulkan seluruh data yang dibutuhkan;

*   Menilai kualitas seluruh data yang telah di kumpulkan; dan

*   Membersihkan data tersebut sehinga siap untuk dianalisis.

## **Alur Proyek**

Berikut merupakan tahapan dalam proyek sederhana ini.


1.   Tahap persiapan
2.   Tahap gathering data
3.   Tahap assesing data
4.   Tahap cleaning data

## **Persiapan**

Sebelum mulai mengerjakan suatu proyek, terdapat beberapa hal yang harus disiapkan terlebih dahulu.

Pertama, siapkan environment untuk menjalankan proyek ini. Pada proyek latihan ini, Anda dapat menggunakan berbagai IDE seperti **Jupyter Notebook** atau **Google Colaboratory** (Google Colab). Jika menjalankan latihan ini melalui Jupyter Notebook, pastikan Anda telah menginstal seluruh library yang dibutuhkan, seperti `numpy`, `pandas`, `scipy`, `matplotlib`, dan `seaborn`.

In [ ]:
# Memanggil semua library yang dibutuhkan
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## **1.  Gathering Data**

Setelah tahap persiapan selesai, kita bisa masuk ke tahap *gathering data*. Pada tahap ini, kita akan mengumpulkan semua data yang dibutuhkan. Beruntungnya data yang kita butuhkan telah tersedia dalam repository dataset Dicoding yang dapat diakses melalui tautan berikut: [Dicoding Collection](https://github.com/dicodingacademy/dicoding_dataset/tree/main/DicodingCollection).

**Catatan:**

Pada praktik yang umum dijumpai di industri, seluruh data tersebut diperoleh dari proses query database. Proses query ini umumnya dijalankan menggunakan perintah SQL.

Pada proyek sederhana ini data yang akan kita gunakan terdiri dari 4 tabel. Oleh karena itu, pada tahap ini kita akan memuat (*load*) keempat tabel tersebut.

### **Memuat tabel customer**

Data pertama yang harus kita muat ialah data dari tabel `customers`. Berikut merupakan kode untuk memuat tabel tersebut menjadi sebuah *DataFrame*.

In [ ]:
customers_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/customers.csv")
customers_df.head()

,customer_id,customer_name,gender,age,home_address,zip_code,city,state,country
0,1,fulan 1,Female,30,8606 Victoria TerraceSuite 560,5464,Johnstonhaven,Northern Territory,Australia
1,2,fulan 2,Prefer not to say,69,8327 Kirlin SummitApt. 461,8223,New Zacharyfort,South Australia,Australia
2,3,fulan 3,Prefer not to say,59,269 Gemma SummitSuite 109,5661,Aliburgh,Australian Capital Territory,Australia
3,4,fulan 4,Prefer not to say,67,743 Bailey GroveSuite 141,1729,South Justinhaven,Queensland,Australia
4,5,fulan 5,Prefer not to say,30,48 Hyatt ManorSuite 375,4032,Griffithsshire,Queensland,Australia

Kode di atas akan menampilkan 5 baris pertama dari *DataFrame* `customers_df`.

### **Load tabel orders**

Data selanjutnya yang harus kita muat ialah data dari tabel `orders`. Hal ini dapat dilakukan dengan menjalankan kode berikut.

In [ ]:
orders_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/orders.csv")
orders_df.head()

   order_id  customer_id  payment order_date delivery_date
0         1           64    30811  2021-8-30    2021-09-24
1         2          473    50490   2021-2-3    2021-02-13
2         3          774    46763  2021-10-8    2021-11-03
3         4          433    39782   2021-5-6    2021-05-19
4         5          441    14719  2021-3-23    2021-03-24

Selain memuat tabel orders menjadi sebuah *DataFrame*, kode di atas juga akan menampilkan 5 baris pertama dari *Dataframe* tersebut.

### **Memuat tabel product**

Tabel berikutnya yang harus kita muat ialah tabel product. Berikut merupakan kode yang dapat digunakan untuk membuat tabel product menjadi sebuah *DataFrame* bernama `product_df`.

Kode di atas juga akan menampilkan lima baris pertama dari product_df.

In [ ]:
product_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/products.csv")
product_df.head()

,product_id,product_type,product_name,size,colour,price,quantity,description
0,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt"
1,1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt"
2,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt"
4,4,Shirt,Oxford Cloth,XL,red,114,47,"A red coloured, XL sized, Oxford Cloth Shirt"

### **Load tabel sales**

*Last but not least*, tabel terakhir yang harus kita muat ialah tabel sales. Berikut merupakan contoh kode untuk melakukannya.

Contoh kode di dibawah akan menghasilkan sebuah *DataFrame* bernama `sales_df`. Selain itu, ia juga akan menampilkan lima baris pertama dari *DataFrame* tersebut.

In [ ]:
sales_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
sales_df.head()

   sales_id  order_id  product_id  price_per_unit  quantity  total_price
0         0         1         218             106         2        212.0
1         1         1         481             118         1        118.0
2         2         1           2              96         3        288.0
3         3         1        1002             106         2        212.0
4         4         1         691             113         3        339.0

Oke, sekarang kita telah berhasil memuat semua data yang dibutuhkan. Tahap selanjutnya ialah menilai kualitas dari data tersebut.

## **2.  Assessing Data**

Sekarang kita masuk ke tahap kedua dalam proses *data wrangling* yaitu *assessing data*. Pada proses ini kita akan menilai kualitas dari seluruh data yang akan digunakan. Penilaian ini bertujuan untuk melihat berbagai permasalahan yang ada dalam data tersebut.

### **Menilai Data customers_df**

Data pertama yang akan kita nilai adalah `customers_df`. Sebagai permulaan, kita memeriksa tipe data data dari tiap kolom yang terdapat dalam `customers_df`. Proses ini dapat dilakukan menggunakan method `info()` seperti contoh kode berikut.

In [ ]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1007 non-null   int64
 1   customer_name  1007 non-null   object
 2   gender         989 non-null    object
 3   age            1007 non-null   int64
 4   home_address   1007 non-null   object
 5   zip_code       1007 non-null   int64
 6   city           1007 non-null   object
 7   state          1007 non-null   object
 8   country        1007 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.9+ KB

Jika Anda perhatikan, tidak ada masalah dengan tipe data dari seluruh kolom tersebut. Akan tetapi, terdapat sedikit perbedaan pada jumlah data pada kolom gender. Hal ini menunjukkan adanya missing values pada kolom **gender**. Nah, untuk memastikan hal ini, jalankan kode berikut.

Kode di atas akan menampilkan informasi terkait jumlah *missing values* yang terdapat dalam setiap kolom.

In [ ]:
customers_df.isna().sum()

customer_id       0
customer_name     0
gender           18
age               0
home_address      0
zip_code          0
city              0
state             0
country           0
dtype: int64

Nah, ouput di atas menunjukkan bahwa terdapat **18 missing values** pada kolom **gender**. Hal ini akan kita tangani pada tahap data cleaning nanti.

Masalah selanjutnya yang harus kita periksa ialah duplikasi data. Untuk memeriksa hal ini, kita bisa menjalankan kode berikut.

In [ ]:
print("Jumlah duplikasi: ", customers_df.duplicated().sum())

Jumlah duplikasi:  6

Ketika menjalankan kode di atas, Anda akan menemukan bahwa terdapat 6 data yang terduplikat. Pada tahap *data cleaning* nanti, kita akan menghilangkan semua duplikasi tersebut.

Sekarang kita memeriksa parameter statistik dari kolom numerik yang terdapat dalam `customers_df`. Untuk mempermudah pemeriksaan, kita akan menggunakan method `describe()`. Method tersebut akan menampilkan ringkasan parameter statistik (*mean*, *median*, dll.) dari kolom numerik pada sebuah DataFrame. Berikut merupakan contoh penggunaannya.

Kode di bawah akan menampilkan ringkasan parameter statistik seperti berikut.

In [ ]:
customers_df.describe()

       customer_id          age     zip_code
count  1007.000000  1007.000000  1007.000000
mean    501.726912    50.929494  5012.538232
std     288.673238    30.516299  2885.836112
min       1.000000    20.000000     2.000000
25%     252.500000    34.000000  2403.500000
50%     502.000000    50.000000  5087.000000
75%     751.500000    65.000000  7493.500000
max    1000.000000   700.000000  9998.000000

Jika diperhatikan, terdapat keanehan pada nilai **maksimum** yang terdapat pada kolom **age**. Ini kemungkinan besar terjadi karena adanya *inaccurate value* pada kolom tersebut. Masalah ini juga akan kita bersihkan dalam tahap cleaning data.

### **Menilai Data orders_df**

Oke, selanjutnya kita akan menilai data pada orders_df. Seperti biasa, kita akan mulai dengan memeriksa tipe data dari tiap kolom menggunakan method `info()`.

In [ ]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   object
 4   delivery_date  1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

Jika Anda perhatikan, jumlah data pada `orders_df` telah lengkap atau dengan kata lain tidak ada *missing value* di dalamnya. Akan tetapi, terdapat kesalahan tipe data untuk kolom `order_date` & `delivery_date`. Kedua kolom tersebut harusnya direpresentasikan sebagai tipe data **datetime**, bukan **object** (ini digunakan untuk tipe data *string*).

Berikutnya, kita perlu memeriksa duplikasi dan ringkasan parameter statistik dari kolom numerik pada `orders_df`. Proses ini dilakukan dengan menjalankan kode berikut.

In [ ]:
print("Jumlah duplikasi: ", orders_df.duplicated().sum())
orders_df.describe()

Jumlah duplikasi:  0

          order_id  customer_id       payment
count  1000.000000  1000.000000   1000.000000
mean    500.500000   506.640000  33972.936000
std     288.819436   277.115502  14451.609047
min       1.000000     1.000000  10043.000000
25%     250.750000   275.250000  21329.250000
50%     500.500000   515.000000  33697.500000
75%     750.250000   737.250000  46249.000000
max    1000.000000  1000.000000  59910.000000

Jika diperhatikan, tidak ada keanehan pada hasil tersebut. Ini menunjukkan tidak terdapat duplikasi dan keanehan nilai pada `orders_df`.

### **Menilai Data product_df**

Selanjutnya, kita akan menilai data pada product_df. Pertama, gunakan method `info()` untuk memastikan tipe data tiap kolom dalam `product_df` telah sesuai.

In [ ]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1266 non-null   int64
 1   product_type  1266 non-null   object
 2   product_name  1266 non-null   object
 3   size          1266 non-null   object
 4   colour        1266 non-null   object
 5   price         1266 non-null   int64
 6   quantity      1266 non-null   int64
 7   description   1266 non-null   object
dtypes: int64(3), object(5)
memory usage: 79.2+ KB

Berdasarkan hasil tersebut, dapat disimpulkan bahwa tidak terdapat masalah pada tipe data tiap kolom dalam `product_df`.  Selain itu, jumlah datanya juga telah lengkap sehingga tidak ada *missing value* di dalamnya.

Hal berikutnya yang harus diperiksa ialah duplikasi dan ringkasan parameter statistik dari `product_df`. Berikut merupakan kode untuk melakukannya.

In [ ]:
print("Jumlah duplikasi: ", product_df.duplicated().sum())
product_df.describe()

Jumlah duplikasi:  6

        product_id        price     quantity
count  1266.000000  1266.000000  1266.000000
mean    627.926540   105.812006    60.138231
std     363.971586     9.715611    11.682791
min       0.000000    90.000000    40.000000
25%     313.250000    95.250000    50.000000
50%     626.500000   109.000000    60.000000
75%     942.750000   114.000000    70.000000
max    1259.000000   119.000000    80.000000

Berdasarkan gambar di atas, dapat dilihat bahwa terdapat 6 data yang terduplikasi pada `product_df`. Pada tahap cleaning data, kita akan menghapus duplikasi tersebut.

### **Menilai Data sales_df**

Data terakhir yang harus kita nilai ialah `sales_df`. Sebagai permulaan, gunakan method `info()` untuk memeriksa tipe data dan jumlah data yang ada di dalam `sales_df`.

In [ ]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity        5000 non-null   int64
 5   total_price     4981 non-null   float64
dtypes: float64(1), int64(5)
memory usage: 234.5 KB

Berdasarkan hasil di atas, tidak ada masalah pada tipe data tiap kolom dalam `sales_df`. Namun, terdapat keanehan pada jumlah data pada kolom `total_price`. Hal ini menunjukkan adanya *missing value* pada kolom tersebut. Kode di bawah akan menunjukkan jumlah missing value dari setiap kolom dalam `sales_df`. Untuk memastikannya, kita bisa menjalankan kode berikut.

In [ ]:
sales_df.isna().sum()

sales_id           0
order_id           0
product_id         0
price_per_unit     0
quantity           0
total_price       19
dtype: int64

Berdasarkan hasil di atas, dapat disimpulkan bahwa terdapat **19 missing value** pada kolom **`total_price`**. Hal ini akan kita bersihkan pada tahap cleaning data.

Tahap selanjutnya ialah memeriksa duplikasi dan ringkasan parameter statistik dari `sales_df`. Berikut merupakan contoh kode untuk melakukannya.

In [ ]:
print("Jumlah duplikasi: ", sales_df.duplicated().sum())
sales_df.describe()

Jumlah duplikasi:  0

,sales_id,order_id,product_id,price_per_unit,quantity,total_price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,4981.000000
mean,2499.500000,503.038200,634.053200,103.501600,1.99240,206.307368
std,1443.520003,285.964418,363.255794,9.195004,0.80751,86.352449
min,0.000000,1.000000,1.000000,90.000000,1.00000,90.000000
25%,1249.750000,258.000000,323.000000,95.000000,1.00000,112.000000
50%,2499.500000,504.500000,635.000000,102.000000,2.00000,204.000000
75%,3749.250000,749.000000,951.000000,112.000000,3.00000,285.000000
max,4999.000000,999.000000,1259.000000,119.000000,3.00000,357.000000

Hasil di atas menunjukkan bahwa tidak ada duplikasi pada `sales_df`. Selain itu, ia juga menunjukkan tidak terdapat keanehan dalam ringkasan parameter statistik dari `sales_df`.

Oke, sampai tahap ini, kita telah berhasil mengidentifikasi berbagai masalah pada data yang telah kita kumpulkan. Berikut merupakan rangkumannya.

![image.png]()

## **4.  Cleaning Data**

Nah, sekarang kita akan memasuki proses terakhir dalam data wrangling yaitu pembersihan atau cleaning data. Pada tahap ini, kita akan membersihkan berbagai masalah yang telah teridentifikasi dalam proses assessing data.

### **Membersihkan Data customers_df**

Berdasarkan hasil proses assessing data, diketahui bahwa terdapat tiga masalah yang dijumpai dalam `customer_df`, yaitu duplicate data, missing value, dan inaccurate value. Pada tahap ini, kita akan membersihkan ketiga masalah tersebut.


*   **Menghilangkan duplicate data**

Masalah pertama yang akan kita tangani ialah duplicate data. Seperti yang telah kita pelajari sebelumnya, ketika menemukan duplikasi pada data, kita harus menghilangkan atau menghapus duplikasi tersebut. Nah, untuk melakukan hal ini, kita dapat memanfaatkan method `drop_duplicates()`. Berikut merupakan kode untuk menghapus duplikasi pada `customer_df`.

In [ ]:
customers_df.drop_duplicates(inplace=True)

Setelah menjalankan kode di atas, periksa kembali apakah masih terdapat duplikasi pada data tersebut dengan menjalankan kode berikut.

In [ ]:
print("Jumlah duplikasi: ", customers_df.duplicated().sum())

Jumlah duplikasi:  0

Jika proses penghapusan duplikasi berjalan lancar, kode di atas akan menghasilkan keluaran yang menunjukkan tidak adanya duplikasi pada `customers_df`.

### **Menangani missing value**

Masalah berikutnya yang harus kita tangani ialah *missing value* pada kolom gender. Nah, secara umum terdapat tiga metode untuk mengatasi missing value yaitu *dropping*, *imputation*, dan *interpolation*. Untuk menentukan metode mana yang akan digunakan, kita perlu melihat data yang mengandung missing value tersebut menggunakan teknik *filtering* seperti berikut.

In [ ]:
customers_df[customers_df.gender.isna()]

,customer_id,customer_name,gender,age,home_address,zip_code,city,state,country
38,39,fulan 39,NaN,80,7440 Cameron Estate DrSuite 628,4622,North Victoriachester,Northern Territory,Australia
167,168,fulan 168,NaN,27,2781 Berge MallSuite 452,1975,North Leoburgh,Western Australia,Australia
322,322,fulan 322,NaN,30,593 Becker CircleApt. 333,1640,Jacobiview,Western Australia,Australia
393,393,fulan 393,NaN,34,5158 Levi HillSuite 531,1474,Johnsburgh,Queensland,Australia
442,442,fulan 442,NaN,26,5157 Feil RoadApt. 633,7249,Port Chloe,New South Wales,Australia
722,720,fulan 720,NaN,40,31 Jordan ParadeApt. 400,1380,West Henry,South Australia,Australia
745,743,fulan 743,NaN,57,09 Christopher StreetSuite 967,6226,Lake Lukemouth,Western Australia,Australia
773,771,fulan 771,NaN,74,7367 Wright JunctionApt. 773,8882,Kuhntown,Victoria,Australia
798,795,fulan 795,NaN,49,487 Summer MewsApt. 874,1712,East Hayden,Australian Capital Territory,Australia
801,798,fulan 798,NaN,56,27 Aiden KnollApt. 875,6531,Port Sam,Australian Capital Territory,Australia
825,822,fulan 822,NaN,59,41 Jenkins KnollSuite 438,2588,Lake Andrewport,South Australia,Australia
859,855,fulan 855,NaN,55,603 O'keefe KnollSuite 782,8822,Port Dylanmouth,Tasmania,Australia
863,859,fulan 859,NaN,38,32 Isla GroveApt. 078,7711,Rosechester,New South Wales,Australia
914,909,fulan 909,NaN,62,976 Murray Station StApt. 036,3227,Langfort,Tasmania,Australia
934,929,fulan 929,NaN,68,394 Lily HillSuite 153,2353,Beahanfurt,Northern Territory,Australia
948,943,fulan 943,NaN,64,3117 Heller PlaceSuite 149,822,North Elijah,South Australia,Australia
952,946,fulan 946,NaN,24,8227 Nicholas HillSuite 150,115,South Jasper,Queensland,Australia
994,988,fulan 988,NaN,35,1130 Turner Estate DrSuite 925,9386,New Harry,Western Australia,Australia

Kode di atas hanya akan menampilkan baris data yang memenuhi kondisi `customers_df.gender.isna()` atau dengan kata lain ia akan menampilkan baris data yang mengandung *missing value* pada kolom gender.

Berdasarkan output di atas, dapat dilihat bahwa baris data tersebut masih mengandung banyak informasi penting sehingga sayang jika langsung dibuang. Oleh karena itu, pada kasus ini, kita akan menggunakan metode *imputation* untuk menangani *missing value*.

Pada metode imputation, kita akan menggunakan nilai tertentu untuk mengganti *missing value*. Sebab kolom gender merupakan kolom kategorik, kita akan menggunakan nilai yang dominan sebagai pengganti *missing value* tersebut. Gunakanlah method `value_counts()` untuk mengidentifikasi nilai yang dominan.

In [ ]:
customers_df.gender.value_counts()

gender
Prefer not to say    725
Male                 143
Female               115
Name: count, dtype: int64

Berdasarkan hasil di atas, dapat diketahui bahwa nilai yang paling dominan dalam kolom gender ialah ***“Prefer not to say”***. Nilai inilah yang selanjutnya akan kita gunakan sebagai pengganti *missing value*. Proses penggantian ini dapat dilakukan menggunakan method `fillna()` seperti contoh berikut.

In [ ]:
customers_df.fillna(value="Prefer not to say", inplace=True)

Untuk memastikan proses di atas berjalan dengan semestinya, kita bisa menjalankan kembali kode untuk mengidentifikasi missing value seperti berikut.

In [ ]:
customers_df.isna().sum()

customer_id      0
customer_name    0
gender           0
age              0
home_address     0
zip_code         0
city             0
state            0
country          0
dtype: int64

**Menangani inaccurate value**

Oke, sekarang kita akan mengatasi masalah inaccurate value pada kolom age. Sebagai awal, kita perlu melihat data baris data yang mengandung inaccurate value tersebut (baris dengan nilai age maksimum). Hal ini dilakukan menggunakan teknik filter seperti contoh kode berikut.
Kode di bawah akan menampilkan baris data yang memiliki nilai age maksimum.

In [ ]:
customers_df[customers_df.age == customers_df.age.max()]

,customer_id,customer_name,gender,age,home_address,zip_code,city,state,country
967,961,fulan 961,Prefer not to say,700,29 Farrell ParadeSuite 818,6528,New Joseph,South Australia,Australia

Berdasarkan data tersebut, kita bisa berasumsi bahwa *inaccurate value* tersebut terjadi karena *human error* sehingga kelebihan memasukkan nilai nol. Oleh karena itu, gantilah dengan nilai 70. Proses ini dilakukan dengan memanfaatkan method `replace()` seperti contoh berikut.

In [ ]:
customers_df.age.replace(customers_df.age.max(), 70, inplace=True)

Nah, untuk memastikan kode diatas berjalan sesuai harapan, jalankanlah kembali kode berikut.

In [ ]:
customers_df[customers_df.age == customers_df.age.max()]

,customer_id,customer_name,gender,age,home_address,zip_code,city,state,country
215,216,fulan 216,Prefer not to say,500,038 Haley MewsApt. 810,3991,Bayertown,Northern Territory,Australia

*Ups*, ternyata masih ada invalid value lain yang terdapat dalam kolom age.

Penyebab kesalahan ini kemungkinan sama dengan sebelumnya, yaitu *human error* yang kelebihan memasukkan nilai nol. Untuk menangani hal ini, kita akan menggantinya dengan nilai 50.

In [ ]:
customers_df.age.replace(customers_df.age.max(), 50, inplace=True)

Untuk memastikan kembali tidak terdapat inaccurate value pada `customers_df`, jalankanlah kode berikut.

In [ ]:
customers_df.describe()

       customer_id          age     zip_code
count  1001.000000  1001.000000  1001.000000
mean    500.942058    49.874126  5000.693307
std     289.013599    17.644663  2886.084454
min       1.000000    20.000000     2.000000
25%     251.000000    34.000000  2398.000000
50%     501.000000    50.000000  5079.000000
75%     751.000000    65.000000  7454.000000
max    1000.000000    80.000000  9998.000000

Berdasarkan hasil tersebut dapat dilihat bahwa kolom age memiliki nilai maksimum yang cukup masuk akal. Selain itu, jika Ada perhatikan, nilai *mean* dan *standard deviation* ikut berubah setelah kita menangani *inaccurate value *tersebut.

### **Membersihkan Data orders_df**

Oke, sekarang kita telah menyelesaikan semua permasalahan yang ada pada `customers_df`. Selanjutnya, kita akan mengatasi permasalahan pada `orders_df`. Berdasarkan proses assessing data sebelumnya, diketahui bahwa terdapat kesalahan tipe data untuk kolom `order_date` & `delivery_date`.

Untuk mengatasi masalah ini, kita akan mengganti tipe data pada kolom `order_date` & `delivery_date` menjadi *datetime*. Proses ini dapat dilakukan menggunakan function `to_datetime()` yang disediakan oleh library **pandas**. Berikut merupakan contoh kode untuk melakukannya.

In [ ]:
datetime_columns = ["order_date", "delivery_date"]

for column in datetime_columns:
  orders_df[column] = pd.to_datetime(orders_df[column])

Kode di atas akan mengubah tipe data pada kolom `order_date` & `delivery_date` menjadi *datetime*. Untuk memastikan hal ini berjalan sesuai harapan, periksa kembali tipe data tersebut menggunakan method `info()`.

In [ ]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   datetime64[ns]
 4   delivery_date  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 39.2 KB

### **Membersihkan Data product_df**

Data berikutnya yang akan kita bersihkan ialah `product_df`. Sesuai hasil assessing data sebelumnya, kita mengetahui bahwa terdapat **6 data** yang terduplikasi pada `product_df`. Untuk mengatasi hal ini, kita perlu membuang data yang sama tersebut menggunakan method `drop_duplicates()` seperti contoh berikut.

In [ ]:
product_df.drop_duplicates(inplace=True)

Kode di atas akan menghapus semua data yang duplikat. Untuk memastikan kode tersebut berjalan sesuai harapan, jalankanlah kode berikut.

Jika proses penghapusan data yang duplikat berjalan dengan lancar, kode di atas akan menghasilkan keluaran seperti berikut “Jumlah duplikasi:  0”.

In [ ]:
print('Jumlah duplikasi: ', product_df.duplicated().sum())

Jumlah duplikasi:  0

### **Membersihkan Data sales_df**

Data selanjutnya yang perlu Anda bersihkan ialah `sales_df`. Berdasarkan hasil penilain data sebelumnya, diketahui bahwa terdapat **19 *missing value*** pada kolom `total_price`. Untuk mengetahui proses penanganan *missing value* yang paling sesuai, kita perlu melihat terlebih dahulu baris data yang mengandung *missing value* tersebut.

Kode di bawah akan menampilkan semua baris data yang memiliki missing value pada kolom total_price seperti pada gambar berikut.

In [ ]:
sales_df[sales_df.total_price.isna()]

      sales_id  order_id  product_id  price_per_unit  quantity  total_price
9            9         2        1196             105         1          NaN
121        121        27        1027              90         3          NaN
278        278        63         360              94         2          NaN
421        421        95        1091             115         1          NaN
489        489       108        1193             105         3          NaN
539        539       117         405             119         2          NaN
636        636       134         653              93         3          NaN
687        687       145        1138             102         1          NaN
854        854       177          64             104         1          NaN
1079      1079       222         908              94         3          NaN
1193      1193       248        1121             102         2          NaN
1313      1313       272         826             117         1          NaN
1548      1548       316         103             118         3          NaN
1688      1688       345         428             107         1          NaN
1775      1775       359         694             113         2          NaN
1902      1902       381        1218             105         3          NaN
2025      2025       408         611             112         3          NaN
2164      2164       436         583             100         3          NaN
2347      2347       476         696             113         2          NaN

Berdasarkan tampilan data tersebut, kita menemukan bahwa nilai `total_price` merupakan hasil perkalian antara `price_per_unit` dan `quantity`. Kita dapat menggunakan pola ini untuk menangani *missing value* pada kolom `total_price`. Berikut merupakan contoh penerapan kode untuk melakukannya.

In [ ]:
sales_df["total_price"] = sales_df["price_per_unit"] * sales_df["quantity"]

Kode di atas akan mengatasi seluruh *missing value *serta memastikan nilai pada kolom `total_price` telah sesuai. Untuk memastikan hal ini, Anda dapat memeriksa kembali jumlah *missing value* pada `sales_df` menggunakan kode berikut.

In [ ]:
sales_df.isna().sum()

sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64